/* background: color > image > repeat > attachment > position */
.img-background {
    max-height: 360px;
    background-image: url("../images/img-tree.png");
    background-repeat: no-repeat;
    background-position: right top;
    /* background-attachment: fixed; */
}

.img-background h1, .img-background p {
    margin-right: 200px;
}

.img-background h1 {
    text-shadow: 2px 2px 8px rgb(21, 228, 255);
}

.img-background p.capitalize {
    text-transform: capitalize;
}

.img-background span {
    /* text-decoration: overline; */
    text-decoration: line-through;
    /* text-decoration: underline; */
}

a.link-click:link, a.link-click:visited  {
    background-color: none;
    color: black;
    border: 2px solid green;
    padding: 3px 10px;
    text-decoration: none;
    display: inline-block;
}

a.link-click:hover, a.link-click:active {
    background-color: green;
    color: #fff;
    font-weight: normal;
    cursor: progress;
}

ul {
    list-style-type: circle;
}
